<div *ngIf="!loadStudent" id="contentbody" style="margin-top: 20%;">
  <app-spinner></app-spinner>
</div>
<div *ngIf="loadStudent" id="contentbody">
  <h1 id="componentTitle">DANH SÁCH HỌC SINH</h1>

  <div class="input-group" id="search_div">
    <div class="form-outline">
      <label class="form-label" for="form1">Search</label>
      <div style="display: flex;flex-direction: row;">
        <input type="search" id="searchKeyword" class="form-control" />
        <button type="button" class="btn btn-primary" (click)="this.searchStudent()">
          Search
        </button>

      </div>
      <div id="addStudentbtn">
        <button type="button" class="btn btn-primary"
          (click)="this.getAllClass();this.getAllParent();this.getAllTeacher();openModal(addstudent)">Thêm học
          sinh</button>
      </div>
    </div>
  </div>
  <div>
    <div id="table">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col"># </th>
            <th scope="col">Name<i class="bi bi-caret-up-fill pointer" (click)="this.sort('Name','asc')"></i><i
                class="bi bi-caret-down-fill pointer" (click)="this.sort('Name','dsc')"></i></th>
            <th scope="col">Age<i class="bi bi-caret-up-fill pointer" (click)="this.sort('Age','asc')"></i><i
                class="bi bi-caret-down-fill pointer" (click)="this.sort('Age','dsc')"></i></th>
            <th scope="col">Yob<i class="bi bi-caret-up-fill pointer" (click)="this.sort('Yob','asc')"></i><i
                class="bi bi-caret-down-fill pointer" (click)="this.sort('Yob','dsc')"></i></th>
            <th scope="col">Parents</th>
            <th scope="col">Teacher</th>
            <th scope="col">Class Room</th>
            <th scope="col">Chức năng</th>
          </tr>
        </thead>
        <tbody *ngFor="let student of this.students | paginate: { itemsPerPage: 5, currentPage: this.p };let i=index">
          <tr scope="row">
            <!-- <td>{{student._id}}</td> -->
            <td>{{(this.p-1) * 5 + i + 1}}</td>
            <!-- element.position+pageSize*(pageIndex-1) -->
            <!-- <td *ngIf="this.p==1">{{i+1}}</td> -->
            <td>{{student.Name}}</td>
            <td>{{student.Age}}</td>
            <td>{{student.Yob}}</td>
            <td *ngIf="student.Parents.length>0">Cha:{{student.Parents[0].DadName}} ,Me:{{student.Parents[0].MomName}}
            </td>
            <td *ngIf="student.Parents.length==0"></td>
            <td *ngIf="student.Teacher.length>0">{{student.Teacher[0].Name}}</td>
            <td *ngIf="student.Teacher.length==0"></td>
            <td *ngIf="student.Class.length>0">{{student.Class[0].Room}}</td>
            <td *ngIf="student.Class.length==0"></td>
            <td>
              <button type="button" class="btn btn-success btn-sm px-3"
                (click)="this.getStudentDetail(student._id);openModal(studentdetail)">
                Chi tiết
              </button>
              <button type="button" class="btn btn-primary btn-sm px-3"
                (click)="this.fillUpdateStudentForm(student._id);openModal(updatestudent)">
                Cập nhật
              </button>
              <button type="button" class="btn btn-danger btn-sm px-3" (click)="this.deleteStudent(student._id)">
                Xóa
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<ng-template #addstudent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Thêm học sinh mới</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!this.loadClasses||!this.loadParents||!this.loadTeachers">
    <app-spinner></app-spinner>
  </div>
  <form [formGroup]="addStudentForm" (ngSubmit)="addNewStudent()">
    <div class="modal-body" *ngIf="this.loadClasses&&this.loadParents&&this.loadTeachers">
      <div id="addForm">
        <label for="Name">Họ tên</label>
        <input type="text" class="form-control" placeholder="Nhập tên" formControlName="Name">
        <label for="Age">Tuổi</label>
        <input type="number" class="form-control" placeholder="Nhập tuổi" formControlName="Age">
        <label for="DOB">Năm sinh</label>
        <input type="number" class="form-control" placeholder="Nhập năm sinh" formControlName="Yob">
        <br>
        <label for="Parents">Phụ huynh của học sinh:</label>
        <br>
        <select NgbDropdownMenu aria-labelledby="parentsdropdown" value="" formControlName="Parents">
          <option NgbDropdownItem *ngFor="let parent of this.parents" [ngValue]="parent._id">Họ tên
            cha:{{parent.DadName}} Họ tên mẹ:{{parent.MomName}}
          </option>
        </select>
        <br>
        <label for="Teachers">Giáo viên của học sinh:</label>
        <br>
        <select NgbDropdownMenu aria-labelledby="teacherdropdown" formControlName="Teacher">
          <option NgbDropdownItem *ngFor="let teacher of this.teachers" [ngValue]="teacher._id">{{teacher.Name}}
          </option>
        </select>
        <br>
        <label for="Classes">Lớp học của học sinh:</label>
        <br>
        <select NgbDropdownMenu aria-labelledby="teacherdropdown" formControlName="Class">
          <option NgbDropdownItem *ngFor="let class of this.classes" [ngValue]="class._id">{{class.Room}}
          </option>
        </select>
      </div>
    </div>
    <div class="modal-footer" *ngIf="this.loadClasses&&this.loadParents&&this.loadTeachers">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Đóng</button>
      <button type="submit" class="btn btn-primary">Thêm mới</button>
    </div>
  </form>
</ng-template>


<ng-template #studentdetail>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Chi tiết của học sinh</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!this.loadselectedStudent">
    <app-spinner></app-spinner>
  </div>
  <div class="modal-body" *ngIf="this.loadselectedStudent">
    <div id="addForm">
      <!-- <h2>ID học sinh:<b> {{this.selectedStudent._id}}</b></h2> -->
      <p>Tên : <b>{{this.selectedStudent.Name}}</b></p>
      <p>Tuổi: <b>{{this.selectedStudent.Age}}</b></p>
      <p>Năm sinh:<b>{{this.selectedStudent.Yob}}</b></p>
      <p *ngIf="this.selectedStudent.Parents[0]?._id">Thông tin phụ huynh:<button (click)="openModal(studentParent)" class="btn btn-primary">Xem</button></p>
      <p *ngIf="this.selectedStudent.Teacher[0]?._id">Thông tin giáo viên:<button (click)="openModal(studentTeachers)" class="btn btn-primary">Xem</button></p>
      <p *ngIf="this.selectedStudent.Class[0]?._id">Thông tin lớp học:<button (click)="openModal(studentClasses)" class="btn btn-primary">Xem</button></p>
    </div>
  </div>
  <div class="modal-footer"*ngIf="this.loadselectedStudent" >
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Đóng</button>

  </div>

</ng-template>

<ng-template #updatestudent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cập nhật thông tin của sinh viên</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!this.loadselectedStudent||!this.loadTeachers||!this.loadClasses||!this.loadParents">
    <app-spinner></app-spinner>
  </div>
  <form [formGroup]="updateStudentForm" (ngSubmit)="updateStudent()">
    <div class="modal-body" *ngIf="this.loadselectedStudent&&this.loadTeachers&&this.loadClasses&&this.loadParents">
      <div id="addForm">
        <label for="Name">Họ tên</label>
        <input type="text" class="form-control" placeholder="Nhập tên" formControlName="Name">
        <label for="Age">Tuổi</label>
        <input type="number" class="form-control" placeholder="Nhập tuổi" formControlName="Age">
        <label for="DOB">Năm sinh</label>
        <input type="text" class="form-control" placeholder="Nhập năm sinh" formControlName="Yob">
        <br>
        <label for="Parents">Phụ huynh của học sinh:</label>
        <br>
        <select NgbDropdownMenu aria-labelledby="parentsdropdown" formControlName="Parents">
          <option NgbDropdownItem *ngFor="let parent of this.parents" [ngValue]="parent._id">Họ tên
            cha:{{parent.DadName}} Họ tên mẹ:{{parent.MomName}}
          </option>
        </select>
        <br>
        <label for="Teachers">Giáo viên của học sinh:</label>
        <br>
        <select NgbDropdownMenu aria-labelledby="teacherdropdown" formControlName="Teacher">
          <option NgbDropdownItem *ngFor="let teacher of this.teachers" [ngValue]="teacher._id">{{teacher.Name}}
          </option>
        </select>
        <br>
        <label for="Classes">Lớp học của học sinh:</label>
        <br>
        <select NgbDropdownMenu aria-labelledby="teacherdropdown" formControlName="Class">
          <option NgbDropdownItem *ngFor="let class of this.classes" [ngValue]="class._id">{{class.Room}}
          </option>
        </select>
      </div>
    </div>
    <div class="modal-footer" *ngIf="this.loadselectedStudent&&this.loadTeachers&&this.loadClasses&&this.loadParents">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Đóng</button>
      <button type="submit" class="btn btn-primary" (click)="modalRef.hide()">Cập nhật</button>
    </div>
  </form>

</ng-template>


<ng-template #studentParent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Phụ huynh của học sinh: {{this.selectedStudent.Name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <div id="table">
        <table class="table align-middle">
          <thead>
            <tr>
              <!-- <th scope="col">ID </th> -->
              <th scope="col">DadName</th>
              <th scope="col">MomName</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let parent of this.selectedStudent.Parents">
              <!-- <td>{{parent._id}}</td> -->
              <td>{{parent.DadName}}</td>
              <td>{{parent.MomName}}</td>
              <td>{{parent.Address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">

  </div>

</ng-template>

<ng-template #studentTeachers>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Giáo viên của học sinh: {{this.selectedStudent.Name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <div id="table">
        <table class="table align-middle">
          <thead>
            <tr>
              <!-- <th scope="col">ID </th> -->
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Address</th>
              <th scope="col">Subjects</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let teacher of this.selectedStudent.Teacher">
              <!-- <td>{{teacher._id}}</td> -->
              <td>{{teacher.Name}}</td>
              <td>{{teacher.Age}}</td>
              <td>{{teacher.Address}}</td>
              <td>
                <p *ngFor="let subject of teacher.Subject">{{subject}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>
<ng-template #studentClasses>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Lớp học của học sinh: {{this.selectedStudent.Name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div id="table">
        <table class="table align-middle">
          <thead>
            <tr>
              <!-- <th scope="col">ID </th> -->
              <th scope="col">Room</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let class of this.selectedStudent.Class">
              <!-- <td>{{class._id}}</td> -->
              <td>{{class.Room}}</td>
              <td>{{class.Description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">

  </div>

</ng-template>