:host{
  width: 80%;
}
#YobInput input{
width: 40%;
}
#YobInput button{
 position: absolute;
  }
#search_div{
  padding: 0 40% 0 40%;
}
#contentbody{
  background-color: white;
  padding: 5% 0 5% 0;
}
#componentTitle{
  padding: 0 35% 0 35%;
}
#addSubjectbtn{
  width: 100%;
  margin:2% 0 2% 280%;

}
#addSubjectbtn button{
  border-radius: 5px;


}
